[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SanyaSKY
[access "refs/for/refs/*"]
	read = group user/SanyaSKY
	push = group user/SanyaSKY
	label-Code-Review = -2..+2 group user/SanyaSKY
	label-Verified = -1..+1 group user/SanyaSKY
	rebase = group user/SanyaSKY
	removeReviewer = group user/SanyaSKY
	submit = group user/SanyaSKY
[access "refs/heads/*"]
	read = group user/SanyaSKY
	create = group user/SanyaSKY
	push = +force group user/SanyaSKY
	pushMerge = group user/SanyaSKY
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/SanyaSKY
	pushTag = group user/SanyaSKY
	pushSignedTag = group user/SanyaSKY
